### Date Arithmetic

The `timedelta` object is used to represent the difference (or duration) between two dates/times.

If we have two dates/times, we can actually *subtract* one from the other - this will give us a `timedelta` object:

In [1]:
import datetime

In [2]:
dt1 = datetime.datetime.utcnow()
dt2 = datetime.datetime.fromisoformat('2020-01-01T00:00:00')

In [3]:
td = dt1 - dt2

In [4]:
td

datetime.timedelta(days=382, seconds=59750, microseconds=763941)

As you can see the `timedelta` object has the elapsed time between those two datetimes with properties `days`, `seconds`, and `microseconds`.

We can easily calculate the total number of seconds for that duration:

In [5]:
td.days * 24 * 60 * 60 + td.seconds + td.microseconds / (10 ** 6)

33064550.763941

but we can also just use the `total_seconds()` method:

In [6]:
td.total_seconds()

33064550.763941

We can also construct our own `timedelta` object, and although we have arguments such as `days`, `seconds`, `microseconds`, we also can specify arguments for `minutes`, `hours`, `weeks` and `milliseconds` - those values will simply be all added together and converted to `days`, `seconds` and `microseconds` - these arguments are available just to make our life easier.

Let's create a `timedelta` object representing 2.5 hours:

In [7]:
td = datetime.timedelta(hours=2, minutes=30)

In [8]:
td

datetime.timedelta(seconds=9000)

The nice thing now is that we can easily add or subtract `timedelta` objects from a `datetime` object for example:

In [9]:
dt = datetime.datetime.utcnow()

In [10]:
dt

datetime.datetime(2021, 1, 17, 16, 35, 50, 801585)

In [11]:
dt + td

datetime.datetime(2021, 1, 17, 19, 5, 50, 801585)

So `timedelta` objects can be used to perform date arithmetic, or can be the result of date arithemtic.

As an example, let's come up with a way to determine the first and last day of the month of a specified date or datetime object.

In [12]:
s = "2020-02-15T13:35:00"

First we'll convert this to a `datetime` object:

In [13]:
dt = datetime.datetime.fromisoformat(s)

In [14]:
dt

datetime.datetime(2020, 2, 15, 13, 35)

Finding the first day of the month in that datetime is easy - it is always going to be the same year and month, but with day set to 1.

In [15]:
start = datetime.datetime(year=dt.year, month=dt.month, day=1)

In [16]:
start

datetime.datetime(2020, 2, 1, 0, 0)

Now you'll notice that we have some time information attached to this, and that's because we created a `datetime` object - but in this case we're really not interested in the time, just the date.

So we probably should have created a `date` object, not a `datetime` object:

In [17]:
start = datetime.date(year=dt.year, month=dt.month, day=1)

In [18]:
start

datetime.date(2020, 2, 1)

What happens if we add a `timedelta` object to a `date` object?

In [19]:
delta = datetime.timedelta(hours=50, minutes=30)

In [20]:
start + delta

datetime.date(2020, 2, 3)

Ah, we just keep the `date` portion, but the year/month/day is calculated correctly - it basically just "truncates" the time information.

So how can we find the last day of the month?

Unlike the first day of the month, we can't speficy a hardcoded number, some months have 30 days, 31 days, and February could be 28 or 29 (depending on leap year).

One easy way to do this, is to start with the first day of the month, and add one month to it.

This will give us the first day of the next month.

Then we subtract one day to get the last day of the previous month.

Now, `timedelta` does not have a month argument - and that makes sense, since months can have different numbers of days in them.

So, we're going to have to do this the hard way - we're going to create a new date, advancing the month by 1, but keeping an eye out in case the `month` is `12`, in which case we need to advance the `year` by `1`, and set the new `month` to `1`:

In [21]:
if start.month == 12:
    new_year = start.year + 1
    new_month = 1
else:
    new_year = start.year
    new_month = start.month + 1

In [22]:
start, new_year, new_month

(datetime.date(2020, 2, 1), 2020, 3)

Now we can start building up our `end` date:

In [23]:
end = datetime.date(year=new_year, month=new_month, day=1)

This is still not quite what we want, we actually need the previous day (so the last day of the previous month):

In [24]:
end = end - datetime.timedelta(days=1)

In [25]:
end

datetime.date(2020, 2, 29)

And there we have it. So now, let's package that up into a function that will return a tuple of `date` objects, for first and last day of the month specified by the input date/datetime.

In [26]:
def get_first_last(dt):
    # note that dt can be either a date or a datetime - this function works either way
    start = datetime.date(year=dt.year, month=dt.month, day=1)
    
    if start.month == 12:
        new_year = start.year + 1
        new_month = 1
    else:
        new_year = start.year
        new_month = start.month + 1
        
    end = datetime.date(new_year, new_month, 1) + datetime.timedelta(days=-1)
    
    return start, end

In [27]:
s

'2020-02-15T13:35:00'

In [28]:
get_first_last(datetime.datetime.fromisoformat(s))

(datetime.date(2020, 2, 1), datetime.date(2020, 2, 29))

We can test this out for a range of dates:

In [29]:
for year in (2020, 2021):
    for month in range(12):
        dt = datetime.date(year=year, month=month+1, day=15)
        print(dt, *get_first_last(dt))

2020-01-15 2020-01-01 2020-01-31
2020-02-15 2020-02-01 2020-02-29
2020-03-15 2020-03-01 2020-03-31
2020-04-15 2020-04-01 2020-04-30
2020-05-15 2020-05-01 2020-05-31
2020-06-15 2020-06-01 2020-06-30
2020-07-15 2020-07-01 2020-07-31
2020-08-15 2020-08-01 2020-08-31
2020-09-15 2020-09-01 2020-09-30
2020-10-15 2020-10-01 2020-10-31
2020-11-15 2020-11-01 2020-11-30
2020-12-15 2020-12-01 2020-12-31
2021-01-15 2021-01-01 2021-01-31
2021-02-15 2021-02-01 2021-02-28
2021-03-15 2021-03-01 2021-03-31
2021-04-15 2021-04-01 2021-04-30
2021-05-15 2021-05-01 2021-05-31
2021-06-15 2021-06-01 2021-06-30
2021-07-15 2021-07-01 2021-07-31
2021-08-15 2021-08-01 2021-08-31
2021-09-15 2021-09-01 2021-09-30
2021-10-15 2021-10-01 2021-10-31
2021-11-15 2021-11-01 2021-11-30
2021-12-15 2021-12-01 2021-12-31

Dates, times and datetimes can also be compared to each other, using `==`, `!=`, `<`, etc.

In [30]:
t1 = datetime.time(9, 30, 0)
t2 = datetime.time(11, 0, 0)

In [31]:
t1 <= t2

True

In [32]:
d1 = datetime.date(2020, 3, 8)
d2 = datetime.date(2020, 5, 1)

In [33]:
d2 > d1

True

In [34]:
dt1 = datetime.datetime(2020, 3, 8, 13, 30, 0)
dt2 = datetime.datetime(2020, 3, 8, 13, 45, 0)

In [35]:
dt1 < dt2

True

We have to be careful with comparing between the different types though - as we might expect, comparing a date without a time to a time without a date, or to a date with time, does not make much sense.

In [36]:
try:
    print(t1 < d1)
except TypeError as ex:
    print(ex)

'<' not supported between instances of 'datetime.time' and 'datetime.date'

In [37]:
try:
    print(d1 < dt1)
except TypeError as ex:
    print(ex)

can't compare datetime.datetime to datetime.date

When you perform comparisons, make sure you are using the same data types.