### Strings

Strings are also sequence types - they are immutable homogeneous sequences - their elements are single characters.

We do not need to use `,` to separate the characters in a string - since each element is a single character Python understands that consecutive characters in a string are individual elements of the sequence.

We can use `'` or `"` to create strings using literals:

In [1]:
a = 'hello'

In [2]:
b = "Python"

In [3]:
type(a), type(b)

(str, str)

So strings are sequences, which means we can access elements by index (including negative indexes), as well as use the `len()` function to calculate the length of a string:

In [4]:
s = 'Python rocks!'

In [5]:
s[0]

'P'

In [6]:
s[1]

'y'

In [7]:
s[len(s) - 1]

'!'

In [8]:
s[-1]

'!'

In [9]:
s[-2]

's'

Strings are immutable, which means we cannot add, remove or replace elements (characters) in a string:

In [10]:
s[0]

'P'

In [11]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

To create an empty string, we can use literals:

In [12]:
a = ''
b = ""

In [13]:
type(a), len(a), type(b), len(b)

(str, 0, str, 0)

We can also use the `str()` function:

In [14]:
s = str()

In [15]:
type(s), len(s)

(str, 0)

Just like the `list()` and `tuple()` functions, the `str()` function can take any sequence type and make a string out of it:

In [16]:
t = 1, 2, 3

In [17]:
s = str(t)

In [18]:
s

'(1, 2, 3)'

You'll notice that our string has the characters `(` and `)`.

Since strings are sequences, this means that we can also convert a string to a list or tuple of single characters, using the `tuple()` and `list()` functions respectively:

In [19]:
s = 'Python'

In [20]:
t = tuple(s)

In [21]:
t

('P', 'y', 't', 'h', 'o', 'n')

In [22]:
l = list(s)

In [23]:
l

['P', 'y', 't', 'h', 'o', 'n']

This can be handy when we want to create a list of items.

For example, if we want to create a list containing all the characters `a` through `f`, we could do it this way:

In [24]:
l = ['a', 'b', 'c', 'd', 'e', 'f']

This is a bit tedious, and instead we can do this:

In [25]:
l = list('abcdef')

In [26]:
l

['a', 'b', 'c', 'd', 'e', 'f']

Another thing that is interesting about strings, is that they support being multiplied by an integer:

In [27]:
s = '=' * 10

In [28]:
s

'=========='

Basically it just repeats the specified string `n` number of times:

In [29]:
s = 'Python-' * 4

In [30]:
s

'Python-Python-Python-Python-'

This actually works with any sequence type:

In [31]:
t = (1, 2, 3) * 3

In [32]:
t

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [33]:
l = ['a', 'b', 'c'] * 3

In [34]:
l

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

This can be quite useful when creating or initializing data sets.

For example we want to create a list of length `10`, that contains just `0`s:

In [35]:
l = [0] * 10

In [36]:
l

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Much easier than writing:

In [37]:
l = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

There is one very important caveat - the repeated element is the same element repeated `n` times:

Suppose we want to create a 3 x 3 matrix containing just `0`s.

We could do it this way:

In [38]:
m = [
    [0, 0, 0], 
    [0, 0, 0], 
    [0, 0, 0]
]

Our matrix is basically a list of lists.

To access the second row of the matrix:

In [39]:
m[1]

[0, 0, 0]

And to access the second element of the first row:

In [40]:
m[1][1]

0

Since lists are mutable, we can replace that element:

In [41]:
m[1][1] = 1

In [42]:
m

[[0, 0, 0], [0, 1, 0], [0, 0, 0]]

If you find this double square bracket notation confusing at first, think of it broken down this way:

In [43]:
row_1 = m[1]

In [44]:
row_1

[0, 1, 0]

In [45]:
row_1_col_1 = row_1[1]

In [46]:
row_1_col_1

1

Now back to multiplying sequences.

Let's say you want to create a 3 x 3 matrix containing just zero elements.

It might be tempting to do this:

In [47]:
m = [[0, 0, 0]] * 3

In [48]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

And indeed it looks like it worked.

But let's re-write this a bit:

In [49]:
row = [0, 0, 0]

In [50]:
m = [row] * 3

In [51]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

The reason I wrote it this way is to underscore the fact that `row` was simply repeated three times, so it is exactly the same as writing:

In [52]:
m = [row, row, row]

In [53]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

But hopefully it is clear now that the same list `row` is repeated three times in the list - the **same** row!

So, if I modify an element in `row`:

In [54]:
print(row)
row[1] = 100
print(row)

[0, 0, 0]
[0, 100, 0]

And our matrix `m`, being comprise of `row` looks like this now:

In [55]:
m

[[0, 100, 0], [0, 100, 0], [0, 100, 0]]

So, when we did this:

In [56]:
m = [[0, 0, 0]] * 3

In [57]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

We ended up with the same list (`[0, 0, 0]`) object repeated three times, and we face the same potential problems:

In [58]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [59]:
m[1][1] = 100

In [60]:
m

[[0, 100, 0], [0, 100, 0], [0, 100, 0]]

We'll see later in this course how we can use libraries such as `numpy` to easily create initialized lists and matrices without these pitfalls.