### Tuples

We can think of tuples as immutable lists (we cannot add, remove, or replace elements of the collection). We'll see later that we can also think of tuples as data structures.

We can use literals to create tuples, using round brackets `()`

In [1]:
t = (1, 2, 3)

Since tuples are `sequence` types, we can access elements by index, just like lists, including negative indexes:

In [2]:
t[0]

In [3]:
t[1]

2

In [4]:
t[-1]

3

We can also use the `len()` function to determine the length of the sequence:

In [5]:
len(t)

3

And we can therefore also use `len` to get the last element of a tuple (as well as negative indexing):

In [6]:
t = (1, 2, 3)
t[len(t) - 1]

3

In [7]:
t = (1, 2, 3, 4, 5)
t[len(t) - 1]

5

The main difference with lists, is that tuples are immutable.

But be careful - this means the container is immutable - so we cannot add, remove or replace elements in the tuple:

In [8]:
t = (1, 2, 30)

In [9]:
t[2]

30

In [10]:
t[2] = 3

TypeError: 'tuple' object does not support item assignment

However this does not mean that the elements of the tuple are necessarily immutable too - tuples, like lists, can contain any object, including mutable ones.

In [11]:
t = ([1, 2], [3, 4])

As we can see, we have a tuple containing two lists:

In [12]:
t[0]

[1, 2]

In [13]:
t[1]

[3, 4]

Although the tuple is immutable:

In [14]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

the elements, being lists, are mutable:

In [15]:
t[0]

[1, 2]

In [16]:
t[0][1] = 20

In [17]:
t[0]

[1, 20]

In [18]:
t

([1, 20], [3, 4])

As you can see we replaced the second element of the first element of the tuple.

So be careful, just because a tuple is immutable does not mean that it's elements are also immutable.

We don't actually need to use `()` all the time to define tuples - Python will recognize the comma separated values and create a tuple automatically:

In [19]:
t = 1, 2

In [20]:
type(t)

tuple

In [21]:
t

(1, 2)

So this is exactly equivalent to writing:

In [22]:
t = (1, 2)

In fact this is why we can use this in the Python console to print multiple values:

In [23]:
a = 10
b = 20

a, b, a+b

(10, 20, 30)

You'll notice that we see three values printed - in fact we created a tuple containing `a`. `b` and `a + b` and Jupyter printed out the tuple.

Equivalently we ciould have written it this way:

In [24]:
a = 10
b = 20
t = a, b, a + b
print(t)

(10, 20, 30)

We can also create empty tuples:

In [25]:
t = ()

In [26]:
type(t), len(t)

(tuple, 0)

We can also use the `tuple()` function:

In [27]:
t = tuple()

In [28]:
type(t), len(t)

(tuple, 0)

But since we cannot mutate the tuple, this is not extremely useful in general.

Tuples are extremely handy though, and are often used to return multiple values from a function (we'll cover this later).

The interesting thing to note about the `tuple()` function is that we can pass it any sequence, and it will take each element of that sequence and create a tuple containing the same elements:

In [29]:
l = [1, 2, 3]

In [30]:
type(l)

list

In [31]:
t = tuple(l)

In [32]:
t

(1, 2, 3)

In [33]:
type(t)

tuple

We can also use the `list()` function in the same way:

In [34]:
t = (10, 20, 30)

In [35]:
l = list(t)

In [36]:
l

[10, 20, 30]

In [37]:
type(l)

list

What's interesting about this, is that we could be faced with a tuple that we want to mutate.

We can't mutate the tuple - but we can easily transform it into a list, and then mutate the list:

In [38]:
t = 10, 20, 3, 40

In [39]:
l = list(t)

In [40]:
l

[10, 20, 3, 40]

In [41]:
l[2] = 30

In [42]:
l

[10, 20, 30, 40]

And if we really want to, we could create a tuple from this and re-assign it to the symbol `t`:

In [43]:
t = tuple(l)

In [44]:
t

(10, 20, 30, 40)

When we use these `list` and `tuple` functions it is very important to understand that although a new tuple or list object is created, the references inside those sequences are shared.

Let's see a simple example to illustrate this:

In [45]:
t = ([1, 2], 20, 30)

So `t[0]` is a list, a mutable sequence:

In [46]:
t[0], type(t[0])

([1, 2], list)

Now let's make a list with the same elements:

In [47]:
l = list(t)

In [48]:
l

[[1, 2], 20, 30]

As we can see the first element of `l` is that list `[1, 2]`:

In [49]:
l[0], type(l)

([1, 2], list)

But in fact, this first object in the list `l` is the **same** object as the first object in the tuple `t`:

In [50]:
t[0] is l[0]

True

This means that if we modify that list, the change will "show up" in both the list and the tuple:

In [51]:
l[0][0] = 100

In [52]:
l

[[100, 2], 20, 30]

In [53]:
t

([100, 2], 20, 30)

We'll come back to this topic when we look at copying sequences.